#set($option = $ctx.args.option)
{
    "version": "2018-05-29",
    "operation": "UpdateItem",
    "key": {
        "pollId": $util.dynamodb.toDynamoDBJson($ctx.args.pollId)
    },
    "update": {
        "expression": "ADD voteCounts.#opt :inc",
        "expressionNames": {
            "#opt": $util.toJson($option)
        },
        "expressionValues": {
            ":inc": $util.dynamodb.toDynamoDBJson(1)
        }
    },
    "condition": {
        "expression": "#status = :open",
        "expressionNames": {
            "#status": "status"
        },
        "expressionValues": {
            ":open": $util.dynamodb.toDynamoDBJson("open")
        }
    }
}